.image-cards-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

h2 {
  margin: 6% auto 0% auto;
}

.sliderContainer {
  width: 70vw;
  height: 50vh;
  margin: 0 auto;
}

.custom-styles {
  z-index: 9999;
  border: 1px solid black;
  right: auto;
  bottom: auto;
  transform: translate(10%, 10%);
  background-color: white;
  width: 80vw;
  height: 80vh;
}