.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section img {
  margin: 2%;
  width: 40vw;
}

.about-paragraph {
  width: 70vw;
  text-align: left;
  font-size: 1.2em;
}

