/* * {
  border: 1px solid black;
} */
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 0002;
  height: 10vh;
  width: 100vw;
  position: relative;
  font-size: 1.2em;
  font-weight: 600;
  padding: 2%; 
}

.nav-link-container {
  display: flex;
  margin-right: 10%;
  
}

.nav-link {
  display: flex;
  margin: 3%;
  padding: 0;
  text-decoration: none;
  width: 100%;
  padding-right: 20px;

}

.logo {
  width: 15%;
}

.logo-link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 0%;
}

a {
  text-decoration: none;
}