.dotsContainerStyles {
  display: flex;
  justify-content: center;
  margin-top: -7%;
}

.dotStyles {
  margin: 0 3px;
  cursor: pointer;
  font-size: 1em;
}

.sliderStyles {
    height: 100%;
    position: relative;
  }

  .arrowStyles {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 2em;
    color: ffffff;
    z-index: 1;
    cursor: pointer;
  }

  .leftArrow {
    left: 3%;
  }

  .rightArrow {
    right: 3%;
  }
